<div class="leftcol sidebar">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
        <div class="inner">
            <a class="sidebar-link" href="{{@blog.url}}/about-me">about me</a>
        </div>
        <div class="inner">
            <a class="sidebar-link" href="{{@blog.url}}/projects">projects</a>
        </div>
        <div class="inner">
            <a class="sidebar-link" href="{{@blog.url}}/contact">contact</a>
        </div>
    </div>

    <div class="lower">
        <a class="icon-github" href="https://github.com/samuelwu90">
                <span class="hidden">Github</span>
            </a>
        <a class="icon-linkedin" href="https://www.linkedin.com/in/samuelwu90">
                <span class="hidden">Linkedin</span>
            </a>
    </div>

</div>




