

{{#author}}
    <figure class="author-image">
        <a class="img" href="{{@blog.url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
    </figure>
    {{/author}}

    <div class="leftcol sidebar">
        <div class="vertical">

            <div class="main-header-content inner">
<!--                 <figure class="author-image">
                    <a class="img" href="/author/fatkitty/" style="background-image: url(//www.gravatar.com/avatar/8bf727a308ec31038c46ff91da683ff9?d=404&amp;s=250)"><span class="hidden">FatKitty's Picture</span></a>
                </figure> -->
                {{#author}}
                    <h3>{{name}}</h3>
                    <p>{{bio}}</p>
                {{/author}}
                <h1 class="page-title">{{@blog.title}}</h1>
                <h2 class="page-description">{{@blog.description}}</h2>
            </div>
        </div>
    </div>
